
.forgot_from {
	.forgot {
		margin: 5px 0 10px 0;
		color: #000000;
	}
	.forgot_label{
		margin: 5px 5px 0 0;
		display: block;
		padding: 0;
	}
	.form-group {
		margin-bottom: 0;
	}
	.aapp-btn-blue {
		margin-bottom: 5px;
		width: 100px;
	}

}
label.error {
	color: #af5050;
	font-size: 14px;
	margin: 0 0 0 0;
}
.reset {
	margin: 0 0 10px 0;
	color : #000000;
}

.email-label {

	margin: 0 0 2em 0;
	.user-email {
		font-weight: 600;
		color: #3949ab;
	}
}
.bold{
	font-weight: 700;
}
#strength_res {
	padding-left: 0;
}
.header {
	margin-bottom: 20px;
}