#home-container {
    font-family: 'Roboto', sans-serif;

    img {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.76);
    }

    .not-visible {
        visibility: hidden;
    }
}

#home{
    background-color: #E2E2E1;
    background-size: cover;
    color: white;
    width: 100%;
    height: 35em;
    position: relative;

    .welcometo {
        color: black;
        font-weight: 300;
        font-size: 40px;
        margin-bottom: 0.5em;
    }

    .welometo-under {
        color: black;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 1em;
    }
}

.home-image {
    width: 60em;
    margin-top: 14em;

    img {
        width: 100%;
    }
}

.second-layer {
    padding-top: 22em;
    height: 40em;
    width: 100%;
    background-color: #616161;

    .welcometo-under {
        color: white;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 1em;
    }
}

.third-layer {
    overflow: hidden;
    padding-top: 4em;
    height: 40em;
    width: 100%;
    background-color: #E2E2E1;

    .home-same-height {
        @media screen and (min-width: 992px) {
            height: 32em;
        }
    }

    .welcometo-under {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 1em;

        @media screen and (max-width: 992px) {
            display: block;
            position: relative;
        }
    }
}

.fourth-layer {
    overflow: hidden;
    padding-top: 4em;
    height: 40em;
    width: 100%;
    background-color: #616161;

    @media screen and (max-width: 992px) {
        height: 40em;
        .top-offset-mobile{
            margin-top: 10em;
        }
    }

    .add-feed-img {
        overflow: hidden;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.76);

        img {
            width: 120%;
        }
    }

    .home-same-height {
        @media screen and (min-width: 992px) {
            height: 32em;
        }
    }

    .welcometo-under {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 1em;

        @media screen and (max-width: 992px) {
            display: block;
            position: relative;
            top: auto;
            left: auto;
            transform: none;
        }
    }
}
