<div class="row">
	<div id="register" class="mobile-half-padding col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-3 col-md-6">
		<div class="cstmform-border card">
			<h2 class="header uppercase">
				<span translate>registration</span>
			</h2>
			<div class="row">
				<div class="col-xs-12">
					<form name="registerform" id="register-form" ng-submit="register(registerform)" ng-validate="validationRegistrOptions" ng-keyup="defaultAgreeWith()">
						<div class="form-group login">
							<label translate class="capitalize" for="enterEmail">email</label>
							<input type="email" name="mail" class="form-control" id="enterEmail" placeholder="jacksparrow@gmail.com" autocomplete="false" ng-model="user.email">
						</div>
						<div class="form-group login">
							<label translate class="capitalize" for="enterPassword">password</label>
							<input type="password" name="pwd" class="form-control" id="enterPassword" translate-attr="{placeholder : 'Enter your Password'}" placeholder="Enter your Password" ng-model="user.password" ng-required>
							<ul id="strength" check-strength="user.password" myuser="user"></ul>
						</div>
						<div class="form-group login">
							<label translate class="capitalize" for="repeatPassword">repeat password</label>
							<input type="password" name="reppwd" class="form-control" id="repeatPassword" translate-attr="{placeholder : 'Repeat your Password'}" placeholder="Repeat your Password" ng-model="user.repPassword" ng-required pw-check="enterPassword">
							<span class="msg-error" ng-show="registerform.reppwd.$error.pwmatch">
								Passwords does't match.
							</span>
						</div>
						<div class="checkbox margin">
							<label>
								<input type="checkbox" ng-model="agreeWith"><span translate>I Agree with</span></label>
							<a translate class="btn-link" href data-toggle="modal" data-target="#terms">terms & conditions</a>
						</div>
						<div class="center-children submit-btn">
							<button translate type="submit" class="sub-btn center-block app-btn app-btn-blue" ng-disabled="!agreeWith">Sign Up</button>
						</div>
						<div class="alert alert-info text-center animate-error" role="alert" ng-show="error">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							<span class="sr-only">Error:</span>
							<span id="error" ng-bind="error.message | translate "></span>
						</div>
						<div ng-show='linkProvider' class="text-center">
							<a translate class="link" href="http://{{linkProvider}}" target="_self">Click to move on you mail provider site</a>
						</div>
						<div class="row">
							<div class="col-xs-12 center-text">
								<p><span translate >Already have an account?</span><a translate ui-sref="login"> Sign In</a></p>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="modal fade" id="terms" role="dialog">
					<div class="modal-dialog">
						<div class="terms-container cstmform-border  modal-content">
							<div class="terms-container cstmform-border">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title bold">Terms and Condition</h4>
								</div>
								<div class="modal-body">
									<h5 class="bold text-uppercase">Terms and Conditions of Use.</h4>
									<p class="text-lowercase"><span class="text-capitalize">Welcome</span> to our Rss Reader application!<span class="text-capitalize"> Our </span> team provide their services to you subject to the following conditions. <span class="text-capitalize">If</span> you visit or use this website, you accept these  conditions. <span class="text-capitalize">Please</span> read them carefully.</p>
									<h5 class="bold">PRIVACY</h5>
									<p class="text-lowercase"><span class="text-capitalize">Please</span> review our Privacy</p>
									<h5 class="bold">ELECTRONIC COMMUNICATIONS</h5>
									<p class="text-lowercase"><span class="text-capitalize">When</span> you   visit   Rss Reader   or   send   e­mails   to   us,   you   are   communicating   with   us  electronically.<span class="text-capitalize">You</span> consent   to   receive   communications   from   us   electronically.</p>
										
								</div>
								<div class="modal-footer">
									<button type="button" class="app-btn app-btn-blue terms-btn" data-dismiss="modal"><span translate>Сlose</span></button>
								</div>
							</div>
						</div>
					</div> 
				</div>	
			</div>
		</div>
	</div>
</div>
