.header {
	margin-bottom: 30px;
	font-weight: 400;
	text-align: center;
}

.alert-danger-app{
	width: 70%;
	margin: 1em auto 0;
}

.animate-error {
	position: relative;
	animation: animatetop 1s;
}

input.ng-pristine + #strength {
	display: none;
}

.auth-alert{
	margin-bottom: $main-app-offset;
}

#strength {
	display: inline;
	list-style: none;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	vertical-align: 2px;
}

#change-pass-form{
	input{
		border-radius: $main-border-radius;
	}
	margin-top: $main-app-offset;
}

.point {
	background: #DDD;
	border-radius: 2px;
	display: inline-block;
	height: 5px;
	margin-right: 1px;
	width: 20px;

	&:last {
		margin: 0 !important;
	}
}

#footer {
	position: fixed;
	bottom: 5px;
}

.cstmform-border {
	margin-top: $main-app-offset;
	margin-bottom: $main-app-offset;
	padding: 20px 10% 15px;
	border-radius: 4px;
}

.cstmform-border-profile{
	margin-bottom: $main-app-offset;
	padding: 0 10% 15px;
}

.form-group.login {
	height: 90px;
	margin-bottom: 0;
	position: relative;
}

#login .form-group:nth-child(2) {
	height: 90px;
}

label.error {
	margin-top: 3px;
	color: #af5050;
	float: right;
	margin-bottom: 0;
	font-size: 14px;
}

.checkbox {
	margin: 0;
}

a.pass {
	float: right;
}

.msg-error {
	margin-top: 3px;
	color: #af5050;
	float: right;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bold;
}

.links img {
	padding: 0;
	width: 50px;
	margin-bottom: 15px;
}

.divider {
	height: 113px;
	margin: 0;
	border-right: 1px solid #42a5f5;
	padding: 0;
}

.divider + span {
	font-weight: bold;
	margin-left: 4px;
}

.terms-container {
	padding: 20px;
}


#login, #register{
	input{
		border-radius: $main-border-radius;
	}
}

#register-form{
	margin-bottom: 0;
}