$phone-res: 768px;
$tablet-res: 992px;
$desktop-res: 1200px;

@media screen and (max-width: $desktop-res) {
	.divider + span {
		margin-left: -10px;
	}

	#cards-wrapper {
		.article-fav-icon, .article-footer-icon {
			line-height: 2em;
		}

		.app-panel .my-hidden {
			visibility: visible;
			display: inline;
			opacity: 1;
		}
	}

	.adviced-articles-wrapper{
		padding: 0 0.5em 0 0.5em;
	}
}

@media screen and (min-width: $desktop-res) {
	.also-read-header{
		margin-top: 0;
		margin-bottom: 0.25em;
	}

	.article-wrapper{
		padding-right: 0.5em;
	}

	.adviced-articles-wrapper{
		padding: 0 0.5em 0 0;
	}

	.profile-date {
		margin-bottom: 0.5em;
	}
	.profile-name {
		/*margin-bottom: -5.1em;*/
	}
}

@media screen and (max-width: 1600px) and (min-width: $desktop-res) {
	#cards-wrapper.desktop-grow {
		.app-panel {
			height: 15em;
		}

		.article-content {
			height: 8.5em;
			margin-bottom: 15px;
		}
	}
}

@media screen and (max-width: $tablet-res) {
	.adviced-card-wrap {
		.my-hidden {
			display: block;
			visibility: visible;
			opacity: 1;
		}
	}

	.adviced-card-wrap:hover {
		.my-hidden {
			animation: none;
		}   
	}

	.sidebar-item>.hover-feed-shrink{
		padding-right: 4em;
	}
	.third-layer {
		height: 65em;
		.top-offset-mobile{
			margin-top: 5em;
		}
	}

	.center-children-tablet {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.also-read-header {
		margin-top: 1em;
	}

	.adviced-article-img {
		height: 150px;
	}

	.links {
		text-align: center;
	}

	.checkbox {
		font-size: 16px;
	}

	.links a {
		float: none;
	}

	#sidebar-wrapper {
		animation: 0.3s slideRight ease;
		width: $sidebar-mobile-width;
		box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.76);
	}

	#sidebar {
		ul {
			width: 100%;
		}

		.sidebar-item {
			.my-hidden {
				visibility: visible;
				display: inline;
				opacity: 1;
			}
		}
	}

	#dashboard #sidebar-wrapper.sidebar-mobile {
		transition: all 0.3s ease;
		left: -$sidebar-mobile-width - 5px;
		animation: 0.3s slideLeft ease;
	}

	.article-img {
		width: 120px;
		height: 95px;
		border-radius: $main-border-radius;
		float: left;
		margin: 0 1em 0 0;
	}

	#cards-wrapper {
		padding: 0 0 $main-app-offset 0;
		// Must use !important, because even strong selector do not help.
		// This class is from 3d party library where !important key word was specified.
		div.popover {
			display: flex !important;
			justify-content: center;
			align-content: center;
			top: auto;
			left: 50% !important;
			width: 250px;
			transform: translateX(-50%);
		}

		.btn-group > .th-large {
			display: none;
		}
	}

	#list {
		// Must use !important, because even strong selector do not help.
		// This class is from 3d party library where !important key word was specified.
		div.popover {
			display: flex !important;
			justify-content: center;
			align-content: center;
			top: auto;
			width: 250px;
		}
	}

	.navbar-header {
		> .logo_wrapper {
			display: flex;
			justify-content: center;
			align-content: center;
		}
	}

	.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
		background-color: #f9f9f9;
	}

	#sidebar-wrapper {
		animation: 0.3s slideRight ease;
		width: $sidebar-mobile-width;
		box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.76);
	}

	#sidebar ul {
		width: 100%;
	}

	#dashboard #sidebar-wrapper.sidebar-mobile {
		transition: all 0.3s ease;
		left: -$sidebar-mobile-width - 5px;
		animation: 0.3s slideLeft ease;
	}

	.home-image {
		width: 80%;
	}

	.profile-date {
		margin-bottom: 0.7em;
	}
}

@media screen and (max-width: $phone-res - 1) {
	#cards-wrapper {
		.article-title {
			height: 110px;
		}
	}

	.home-image {
		margin-top: 8em;
		width: 21em;
	}

	#home {
		background-size: cover;
		height: 45em;

		.welcometo {
			font-size: 30px;
		}
	}

	.home-small-img-mobile {
		width: 90%;
	}

	.second-layer {
		height: 25em;
		padding-top: 5em;
	}

	.third-layer {
		height: 60em;
		.top-offset-mobile{
			margin-top: 5em;
		}
	}

	.container-fluid>.navbar-header>.logo_wrapper>a, .navbar>.container .navbar-brand {
		margin-left: 0;
	}
}

@media screen and (max-width: $phone-res) {
	#cards-wrapper {
		.fav-indicator {
			margin-top: -$main-app-offset/2;
		}
	}

	#cards-wrapper .app-panel {
		height: 10em;
		padding: $main-app-offset/2;

		.article-img {
			margin-right: $main-app-offset/2;
		}
	}

	.modal-content {
		padding: $main-app-offset/2;
	}

	.hide-modal-btn {
		right: 1.5em;
	}

	.alert-danger-app {
		width: 100%;
	}

	.center-children-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.add-feed-form {
		margin-top: $main-app-offset/2;
	}

	.cstmform-border {
		margin: $main-app-offset/2 0 $main-app-offset/2 0;
		padding: $main-app-offset;
	}

	.cstmform-border-profile {
		padding: 0 $main-app-offset $main-app-offset;
	}

	.mobile-half-padding {
		padding: 0 $main-app-offset/2 0 $main-app-offset/2;
	}

	.mobile-zero-padding {
		padding: 0;
	}

	#adviced-feeds-wrapper {
		padding: 0;
	}

	.modal-window {
		width: 100%;
		padding-right: $main-app-offset/2;
		padding-left: $main-app-offset/2;
	}

	.carousel > .modal-window {
		width: 100%;
		height: 25%;
	}
	
	.carousel > .modal-content {
		padding: $main-app-offset*2;
	}

	.app-btn-blue.cswidth {
		margin-left: 0;
		width: 100%;
	}

	.header {
		font-size: 1.5em;
	}

	.toaster-window {
		width: 100%;
		top: auto;
		bottom: 0;
		left: 0;
	}

	.toaster-wrapper {
		transition: all $fadeTime linear;

		&.ng-enter > .toaster > .toaster-window {
			top: auto;
			animation: $fadeTime slideUpMobile;
		}

		&.ng-leave > .toaster > .toaster-window {
			top: auto;
			animation: $fadeTime slideDownMobile;
			bottom: -300px;
		}
	}

	.form-group.login label.error {
		font-size: 12px;
	}

	.msg-error {
		font-size: 12px;
	}

	.links img {
		width: 45px;
	}

	.form-group.login input[type=email],
	.form-group.login input[type=password] {
		height: 50px;
	}

	.form-group.login {
		margin-bottom: 10px;
	}

	#article-page {
		padding: $main-app-offset/2;
	}

	.navbar-nav {
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 0;

		& > .user-menu .user-image {
			float: none;
			margin-right: 0;
			margin-top: -8px;
			line-height: 10px;
		}
	}

	.sidebar-item {
		padding-left: 10px;
	}

	.profile-header {
		height: 11em;
	}

	.profile-img-square {
		margin-top: -60px;
		width: 175px;
		height: 175px;
	}

	.profile-name {
		margin-top: 1em;
	}

	.profile-date {
		margin-bottom: 0.7em;
	}

	.text-center-mobile {
		text-align: center;
	}

	.read-article-img {
		width: 360px;
		height: 280px;
	}

	.change-pass:nth-child(1),.change-pass:nth-child(2) {
		height: 85px;
	}

	.change-pass:nth-child(3) {
		height: 110px;
	}
}

@media screen and (max-width: 766px) {
	.lang-btn {
		top: 0;
		right: 3.8em;	

	}
	.select-lang-btn {
		position: absolute;
		margin-top: 3px;
		height: 20px;
	}
	.lang-title, .caret {
		bottom: 0.2em;
		position: relative;
	}
	.lang-list {
		top: 1.5em;
	}
}

