<div id="feed-head" ng-hide="checkIfReading()">
	<h2 class="feed-title shortened-text">
		<span class="title" ng-bind="dashboardData.title | translate"></span>
	</h2>
	<div class="clearfix">
		<div class="row">
			<div class="col-lg-11 col-xs-10">
				<div class="btn-group change-view-btn pull-left">
					<button class="btn btn-default app-btn-feed-list glyphicon glyphicon-list" aria-label="Left Align" ng-class="{'selected' : checkIfToggled('list')}" ng-click="onViewChange('view-mode1')"><span aria-hidden="true"></span></button>
					<button class="btn btn-default app-btn-feed-list glyphicon glyphicon-th-list" aria-label="Center Align" ng-class="{'selected' : checkIfToggled('th-list')}" ng-click="onViewChange('view-mode2')"><span></span></button>
					<button class="btn btn-default app-btn-feed-list glyphicon glyphicon-th-large visible-lg" aria-label="Justify" ng-class="{'selected' : checkIfToggled('th-large')}" ng-click="onViewChange('view-mode3')"><span aria-hidden="true"></span></button>
				</div>
				<div ng-hide="hideSortList.state" class="btn-group" uib-dropdown is-open="status.isopen">
					<button type="button" class="sort-btn" uib-dropdown-toggle ng-disabled="disabled">
						{{currentSortTitle() | translate}}<span class="caret"></span>
					</button>
					<ul id="sort-dropdown" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
						<li class="sort-item" role="menuitem" ng-click="setSortParam($event, 'date', 1)" ng-class="{'selected' : checkSortType('date', 1)}"><a translate >Newest</a></li>
						<li class="sort-item" role="menuitem" ng-click="setSortParam($event, 'date', 0)" ng-class="{'selected' : checkSortType('date', 0)}"><a translate >Oldest</a></li>
						<li class="sort-item" role="menuitem" ng-hide="readSingleFeed.state" ng-click="setSortParam($event, 'feed', 1)" ng-class="{'selected' : checkSortType('feed', 1)}"><a translate >By Feed</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-1 col-xs-2">
				<div class="delete-btn-wrap" ng-show='feed()'>
					<button class="btn btn-default app-btn-feed-list glyphicon glyphicon-trash app-btn-delete" aria-label="Justify" ng-click="onFeedDelete()"><span aria-hidden="true"></span></button>
				</div>
			</div>
		</div>
	</div>
</div>