<div id="sidebar">
	<div class="sidebar-item" ng-show="checkIfEmpty()">
		<div ng-click="getAll($event)"><span class="glyphicon glyphicon-align-justify all-icon" aria-hidden="true"></span><span translate class="all-text">All</span></div>
	</div>
	<div class="sidebar-item" ng-show="hideFavourites()">
		<a class="glyphFeeds fav-dropdown" data-toggle="collapse" data-target="#favourites" ng-click="getFavourites($event)">
			<span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-star"></span><span translate>Favourites</span>
		</a>
		<div class="collapse" id="favourites">
			<ul dnd-list="favs"
				dnd-allowed-types="favsListDragableTypes">
				<li class="sidebar-sub-item shortened-text"
					ng-repeat="data in feedsData.favouritesDictionary"
					dnd-draggable="data"
					dnd-type="'favs'"
					dnd-moved="onFavsCatDrag($index)"
					dnd-effect-allowed="move">
					<a data-toggle="collapse" data-target="{{ '#' + $index + 'fav'}}" class="glyphFeeds fav-dropdown" ng-click="getFavArticlesByCat($event, data.category)">
						<span class="glyphicon glyphicon-chevron-right"></span><span ng-bind="data.category"></span>
					</a>
					<div class="collapse" id="{{ $index + 'fav'}}">
						<ul>
							<li class="sidebar-sub-item" ng-repeat="article in data.articles | orderBy: 'title'">
								<a class="shortened-text fav-dropdown" ng-click="getFavArticle($event, article)"i>
									<img ng-src="{{article.link|favicon}}">
									<span ng-bind="article.title"></span>
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<ul dnd-list="feeds"
		dnd-allowed-types="feedsList"
		ng-show="checkIfEmpty()">
		<li class="sidebar-item shortened-text"
			ng-repeat="data in feeds"
			dnd-draggable="data"
			dnd-type="'cat'"
			dnd-moved="onFeedsCatDrag($index)"
			dnd-effect-allowed="move">
			<div><span class="eye-view-btn my-hidden" ng-click="getByCat($event, data.category, $index)">view</span></div>
			<a class="glyphFeeds hover-feed-shrink" data-toggle="collapse" data-target="{{ '#' + $index }}" ng-click="shevronToggle($event)">
				<span class="glyphicon glyphicon-chevron-right"></span><span ng-bind="data.category"></span>
			</a>
			<div class="collapse" id="{{ $index }}">
				<ul dnd-list="data.feeds"
					dnd-allowed-types="feedsInnerList">
					<li class="sidebar-sub-item" ng-repeat="feed in data.feeds"
						dnd-draggable="feed"
						dnd-type="'feeds'"
						dnd-effect-allowed="move"
						dnd-moved="onFeedsDrag($parent.$index, $index)">
						<a class="shortened-text" ng-click="getByFeed($event, feed)">
							<img ng-src="{{feed.link|favicon}}">
							<span ng-bind="feed.title"></span>
						</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	<div class="col-sm-12 center-children">
		<button id="add-feed-test-btn" type="button" class="app-btn app-btn-blue" ng-click="toAddFeed()">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span translate> Add feed</span>
		</button>
	</div>
</div>